{#
/**
 * @file
 * Default theme implementation of a item part data for vendor.
 *
 * Available variables:
 * - content: The item part data for vendor to be output.

 * @see template_preprocess_webform_car_ip_data_for_vendor()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform_car_ip_data_for_vendor/car_print_data_for_vendor') }}

      {{ devel_dump(content) }}
  <div class="webform-flexbox">
    {% if content.ip_dimensions %}
      <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_dimensions }}</div></div>
    {% endif %}
    {% if content.part_count %}
      <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.part_count }}</div></div>
    {% endif %}
    {% if content.ip_print_format %}
      <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_print_format }}</div></div>
    {% endif %}
    {% if content.ip_print_price_bundle %}
      <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_print_price_bundle }}</div></div>
    {% endif %}
    {% if content.special_handling_group %}
      <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.special_handling_group }}</div></div>
    {% endif %}
    {% if content.ip_generation %}
      <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_generation }}</div></div>
    {% endif %}

  </div>

