{#
/**
 * @file
 * Default theme implementation of a item part data for vendor.
 *
 * Available variables:
 * - content: The item part data for vendor to be output.

 * @see template_preprocess_webform_car_ip_data_for_vendor()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform_car_ip_data_for_vendor/webform_car_ip_data_for_vendor') }}

{#      {{ devel_dump(content) }}#}
    <div class="webform-flexbox">
      {% if content.ip_item_part_label %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_item_part_label }}</div></div>
      {% endif %}
      {% if content.ip_call_number or content.ip_temporary_id %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_call_number }}{{ content.ip_identifiers_delimiter }}{{ content.ip_temporary_id }}</div></div>
      {% endif %}
      {% if content.ip_container_item_annotations %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_container_item_annotations }}</div></div>
      {% endif %}
      {% if content.ip_media_type %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_media_type }}{{ content.ip_aspect_ratio }}</div></div>
      {% endif %}
      {% if content.ip_gauge_and_format %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_gauge_and_format }}{{ content.ip_running_speed }}</div></div>
      {% endif %}
      {% if content.ip_generation %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_generation }}</div></div>
      {% endif %}
      {% if content.ip_sides %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_sides }}</div></div>
      {% endif %}
      {% if content.parts_wrapper %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.parts_wrapper }}</div></div>
      {% endif %}
    </div>
    <div class="webform-flexbox">
      {% if content.ip_condition %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_condition }}</div></div>
      {% endif %}
      {% if content.ip_condition_notes %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_condition_notes }}</div></div>
      {% endif %}
      {% if content.ip_base_type %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_base_type }}</div></div>
      {% endif %}
      {% if content.ip_additional_technical_notes %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_additional_technical_notes }}</div></div>
      {% endif %}
      {% if content.ip_price_bundle %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_price_bundle }}</div></div>
      {% endif %}
      {% if content.ip_special_handling %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.ip_special_handling }}</div></div>
      {% endif %}
    </div>

